pre.rouge .hll {
    background-color: #ffc;
}
pre.rouge .hll * {
    background-color: initial;
}

.site-header a {
    font-style: normal;
    margin-left: 1ch;
    margin-right: 1ch;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, .8);
    text-decoration: none;
}
.site-header a:hover {
    color: rgba(0, 0, 0, .8);
    text-decoration: underline;
}
.site-header a.-title {
    font-size: 1.25em;
}

.site-footer > p {
    margin-bottom: 0;
}
.site-footer a {
    padding-left: 2ch;
    font-style: normal;
    text-decoration: none;
    white-space: nowrap;
}
.site-footer .fa {
    vertical-align: middle;
    color: rgba(0, 0, 0, .8)
}

.post-list {
    margin-left: 0;
    list-style: none;
}
.post-list > li {
    margin-top: 1em;
}
.post-list h2 {
    margin-top: 0;
}
.post-list a {
    display: block;
    text-decoration: none;
    color: #ba3925;
}
.post-list a:hover {
    color: #ba3925;
    text-decoration: underline;
}

.post-meta {
    color: #828282;
    font-family: "Open Sans", sans-serif;
    margin-top: -.5em;
    padding-bottom: 1.5em;
}

.about-ava > img {
    float: left;
    margin-right: 1em;
}
