@media print {
  header { display: none; }
  footer { display: none; }
  main { display: block; }
  h1 { display: none; }
  hr { display: none; }
  .page-break { break-before: page; }
  section:has(>h3) { break-inside: avoid;}
  .lead {
    height: 100vh;
    display: flex;
    align-items: center;
  }
}

h3 {
    font: inherit;
    font-weight: bold;
    color: black;
    font-size: 1.2rem;
}
