@media print {
  header { display: none; }
  footer { display: none; }
  main { display: block; }
  html { font-size: 18px; }
  h1 { display: none; }
  .page-break { break-before: page; }
  section:has(>h3) { break-inside: avoid;}
}

h3 {
    font: inherit;
    font-weight: bold;
    color: black;
    font-size: 1.2rem;
}
